#ic1 {
	 width:250px;
	height:250px;
	border-radius:400px;
	background:url(image/369008.jpg);
	box-shadow: 3px 3px 3px #333;
	padding:90px;
	
	
	}
	#ic1:hover {
		opacity:0.5;
	
	}
	#ic2 {
	width:250px;
	height:250px;
	border-radius:500px;
	background:url(image/499106.jpg);
	margin-top:30px;
	box-shadow: 3px 3px 3px #333;
	
	}
	#ic2:hover {
		opacity:0.5;
	
	}
	#ic3 {
	width:250px;
	height:250px;
	border-radius:500px;
	background:url(image/a2770.jpg);
	margin-top:30px;
	box-shadow: 3px 3px 3px #333;
	
	}
	#ic3:hover {
		opacity:0.5;
	
	}
	#ic4 {
	width:250px;
	height:250px;
	border-radius:500px;
	background:url(image/adana-isi.jpg);
	margin-top:10px;
	box-shadow: 3px 3px 3px #333;
	margin-left:300px;
	margin-top:-770px;
	padding:25px;
	
	}
	#ic4:hover {
		opacity:0.5;
	
	}
	#ic1 {
	
	}
	#ic1 {
	
	}
	#ic1 {
	
	}
	#ic1 {
	
	}